.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: fit-content;
  font-size: 100px;
  letter-spacing: -5px;
}

p {
  height: fit-content;
  margin-top: -34px;
}
